<h1>Tashman Family Album</h1>

<h2>Please login or register to continue</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date added</th>
  </tr>

<h3>Current pictures</h3>
<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
        <td><%= idea.created_at.to_date %></td>
    <td><%= link_to 'View', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Picture', new_idea_path %>
