<!DOCTYPE html>
<html>
<head>
  <title>Family Album</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Album</a>
      <ul class="nav">
        <li class="active"><a href="/ideas">Pictures</a></li>
        <li><a href="#">Slideshow</a></li>
        <li><a href="#">Settings</a></li>
          <li><%= link_to "Info", pages_info_path %></li>
           <li><%= link_to 'Login', new_user_session_path %></li>
              <li> <%= link_to 'Register', new_user_registration_path %></li>
              <li> <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
              <li> <%= link_to 'Edit Account', edit_user_registration_path %></li>

             

      </ul>
    </div>
  </div>
</div>


<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <a href="http://www.about.me/dantashman">Dan Tashman</a> ©2013
  </div>
</footer>


</body>
</html>
